body{
      padding: 100px
      color: black;
}
p.one{
      position: fixed;
      background-color: pink;
      color: Maroon;
      bottom: 50px;
      left: 50px;
      font-size: 26px
      }
h2{
      font-size: 45px
}
